<div class="course-list">
    <h1>Course List</h1>
    <p class="message-p">{{courseMessage}}</p>
    <table>
        <thead>
            <tr>
                <th>Course ID</th>
                <th>Name</th>
                <th>Description</th>                
                <th>maxNumberOfStudents</th>
                <th>Teacher Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of courseList">
                <td>{{course.courseId}}</td>
                <td>{{course.name}}</td>
                <td>{{course.description}}</td>
                <td>{{course.maxNumberOfStudents}}</td>
                <td>{{course.teacher}}</td>
                <td>
                    <fa-icon (click)="deleteCourse(course.courseId)" [icon]="iconDelete"></fa-icon>
                    <button (click)="deleteCourse(course.courseId)">Delete</button>
                    <button >Edit</button>
                    <a class="icon-link" routerLink="/admin-update-course/{{course.courseId}}"><fa-icon  [icon]="iconEdit"></fa-icon></a>
                    <button >Enroll</button>
                    
                </td>
            </tr>
        </tbody>
    </table>

</div>
