/*.text {
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}*/

.welcome {
    display: flex;
    flex-direction: row;
    background-image: url("src/assets/home.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: 880px;
    justify-content: center;
    align-items: center;
}

.img{
    width: 89%;
    
}

.greeting {
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #f0f0f0;
    text-align: center;
    padding: 50px;
    border-radius: 120px;
    background-color: rgb(30, 145, 180);
}

h1 {
    
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    color: rgb(245, 245, 245);
}

h2, h4 {
    text-align: center;
}